<!DOCTYPE html>
<html>
<head>
	<title>POTIN NUMERO X</title>
</head>
<body>

	<h1>BLABLA</h1>
<p><% gossips.each do |entry| %>
  <%= entry[1] %>,<%= entry[4] %>:<%= entry[0] %>
<% end %></p>
</body>
</html>