<html>
<head>
	<title>PAGE POTIN</title>
</head>
<body>


<h1> Voici le numéro du potin que tu veux : <%=params[:id]%></h1>
	
	<p>Son Auteur :</p>

	<p>Le contenu du potin : </p>

    <p><a href="/gossips/new/">CREER UN NOUVEAU GOSSIP </a></p>

</body>
</html>


